<!--<div class="slider">-->
  <!--<ul class="slides">-->
    <!--<li>-->
      <!--<img src="img/dash/1.png"> &lt;!&ndash; random image &ndash;&gt;-->
      <!--<div class="caption center-align">-->
        <!--<h3>Dashboard </h3>-->
        <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
      <!--</div>-->
    <!--</li>-->
    <!--<li>-->
      <!--<img src="img/dash/2.png"> &lt;!&ndash; random image &ndash;&gt;-->
      <!--<div class="caption left-align">-->
        <!--<h3>Dashboard </h3>-->
        <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
      <!--</div>-->
    <!--</li>-->
    <!--<li>-->
      <!--<img src="img/dash/3.png"> &lt;!&ndash; random image &ndash;&gt;-->
      <!--<div class="caption right-align">-->
        <!--<h3>Dashboard </h3>-->
        <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
      <!--</div>-->
    <!--</li>-->
    <!--<li>-->
      <!--<img src="img/dash/Mockup_dash.png"> &lt;!&ndash; random image &ndash;&gt;-->
      <!--<div class="caption center-align">-->
        <!--<h3>A Flash Courier está em constante evolução</h3>-->
        <!--<h5 class="light grey-text text-lighten-3">Flash Courier 2017</h5>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->


<section class="intro" id="1">
  <div class="content">
    <h1>A flash é você quem faz!</h1>
    <p>
      Você já definiu a nossa nova imagem quando nos ajudou a escolher a nova logo.
      Agora é hora de você desenhar os dashboards principais do nosso BI - as informações que você verá diariamente da nossa operação</p>
  </div>


  <!-- Modal Trigger -->
  <!--<a class="modal-trigger waves-effect waves-light btn" href="#dash_1">Modal</a>-->

  <!--&lt;!&ndash; Modal Structure &ndash;&gt;-->
  <!--<div id="dash_1" class="modal">-->
    <!--<div class="modal-content">-->
      <!--<div class="carousel carousel-slider">-->

        <!--<a class="carousel-item" href="#one!"><img class="materialboxed" width="650" src="img/dash/1.2.png"></a>-->
          <!--<a class="carousel-item" href="#two!"><img class="materialboxed" width="650" src="img/dash/1.1.png"></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
      <!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>-->
    <!--</div>-->
  <!--</div>-->



</section>

<section id="2" >
  <div class="content">
    <h1>Dashboard</h1>
    <img class="responsive-img wow fadeIn materialboxed" data-caption="Flash Courier 2017" src="img/dash/1.png">
  </div>



</section>

<section id="3">
  <div class="content">
    <h1>Dashboard</h1>
    <img class="responsive-img wow fadeIn materialboxed" data-caption="Flash Courier 2017" src="img/dash/2.png">
  </div>
</section>

<section id="4" class="z-depth-2">
  <div class="content">
    <h1>Dashboard</h1>
    <img class="responsive-img wow fadeIn materialboxed" data-caption="Flash Courier 2017" src="img/dash/3.png">
  </div>
</section>


<section id="5">

  <div class="row s6 wow fadeIn centraliza-relativo">

    <form class=""  id="form-dash" #myForm="ngForm" (ngSubmit)="addComentario(myForm)">
      <p>O que achou dos nossos novos dashboards?</p>
      <div class="row">
        <input name="inputGostei" checked type="radio" id="gostei"
               ngModel
               value="true"
        />
        <label for="gostei">Gostei.</label>

        <input name="inputGostei" type="radio" id="nao-gostei"
               ngModel
               value="false"
        />
        <label for="nao-gostei">Não gostei.</label>
      </div>

      <div class="row">
        <div class="input-field">
          <input name="nome"
                 id="nome"
                 type="text"
                 class=""
                 required minlength="3" maxlength="20"
                 ngModel
          />
          <label for="nome">Nome</label>
        </div>

        <div class="input-field">

          <input name="comentario"
                 id="comentario"
                 type="text"
                 class=""
                 required
                 ngModel
          />
          <label for="comentario">Sugestão</label>

        </div>


        <div class="input-field">
          <input name="cc1" type="hidden" id="cc1" class="">
          <!--<label for="cc1" >Comentário</label>-->
        </div>
      </div>
      <button type="submit" class="btn btn-primary"> Enviar sugestão </button>

    </form>

  </div>

  <app-charts>Loading...</app-charts>

</section>


<section id="6">
  <div class="row">
    <h1 class="center-align">Obrigado por fazer parte da nossa evolução.</h1>
    <div class="divider"></div>
    <div class="col s12 m8 offset-m2 l6 offset-l3 wow fadeIn ">
      <div class="card horizontal grey lighten-5 z-depth-1 cent-coment hoverable wow flipInX" *ngFor="let message of messages">
        <div class="card-image">
          <img src="img/man-talking.png" alt="" class="responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content card-PaddingResetTop">
            <p class="blue-text text-darken-2">{{ message.userName }}</p>

            <h6 class="blue-text text-darken-2">{{ message.comentario }}</h6>
            <!--<a (click)="onDelete()">Delete</a>-->
          </div>
          <div class="card-action card-PaddingResetBottom">
            <p>{{ message.gostei }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<footer id="rodape">
  Desenvolvido por <a href="http://www.flashcourier.com.br">Flash Courier 2017</a>
</footer>



